.footer-container {
  width: 100%;
  background-color: #121211;
  padding: 1.5rem 0;
  border-top: 1px solid #1f2937;
  margin-top: auto;
}

@media (min-width: 1280px) {
  .footer-container {
    padding: 0;
    border-top: none;
  }
}

.footer-content {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1280px) {
  .footer-content {
    flex-direction: row;
    height: 67px;
    align-items: center;
  }
}

.footer-mobile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 0 25px;
  align-items: center;
  gap: 1rem 0;
}

.footer-nav-desktop {
  display: none;
}

@media (min-width: 1280px) {
  .footer-mobile-grid {
    display: none;
  }
  .footer-nav-desktop {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2.5rem;
  }
}
