.header-container {
  height: 67px;
  background-color: #121211;
  z-index: 50;
  position: relative;
  width: 100%;
}

.header-content {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo-group {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (min-width: 1280px) {
  .header-logo-group {
    left: 150px;
  }
}

.logo-text-group {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.logo-text-main, .logo-text-sub {
  font-family: "Tektur", sans-serif;
  font-size: 16px;
  color: white;
}

.header-nav-desktop {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2.5rem;
}

.header-phone-pos {
  position: absolute;
  left: 271px;
  top: 50%;
  transform: translateY(-50%);
}

.header-nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-family: "Vollkorn", serif;
  font-size: 13px;
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff1da;
}

.burger-pos {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
