.header-container {
  height: 67px;
  background-color: var(--brand-dark, #121211);
  z-index: 50;
  position: relative;
  width: 100%;
}

.header-content {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo-group {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  transition: all 0.3s ease;
}

@media (min-width: 1280px) {
  .header-logo-group {
    left: 150px;
  }
}

.header-nav {
  display: flex;
  gap: 2rem;
  margin-left: auto;
}

.nav-link {
  font-family: "Vollkorn", serif;
  font-size: 13px;
  color: white;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff1da;
}
